/* primary-text-color #212121;
title-text-color  #757575;
accent-color #2196F3;
primary-bg-color #FFFFFF; 
cecondary-bg-color  #E5E5E5; */
:root {
  --pimary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --cecondary-bg-color: #e5e5e5;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.13;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* шапка сторінки */
.page-header .container-nav {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.site-nav {
  display: flex;
}
.site-nav__item {
  display: flex;
  margin-left: 50px;
}
.site-nav__item:first-child {
  margin-left: 0;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.logo {
  color: var(--pimary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}
.page-header__logo {
  padding: 25px 0px 25px 0px;
}
.web {
  color: var(--accent-color);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* навігація */
.site-nav,
.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.studio-primary,
.site-nav__link,
.portfolio-primary,
.contacts__item {
  text-decoration: none;
}
.studio-primary {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav__link {
  color: var(--pimary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  display: block;
  fill: var(--accent-color);
  width: 100%;
  position: absolute;
  bottom: -10px;
  border-radius: 2px;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #757575;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__iconmail {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__iconphone {
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}
/* рішення для бізнесу */
.section-article__title {
  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
}
.section-article {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../css/img.css/Img-min1.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.section-article__title,
.work-section__title,
.section-team__title,
.section-clients__list {
  text-align: center;
}
.section-article__button {
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  margin-top: 30px;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* рішення */
.section-solutions__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}
.section-solutions__title {
  color: var(--pimary-text-color);
  font-weight: bold;
  letter-spacing: 0.03em;
}
.section-solutions__item:not(:last-child) {
  margin-right: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-solutions__list {
  display: flex;
}
.section-solutions__content {
  color: var(--title-text-color);
  margin-top: 10px;
  height: 70px;
  width: 270px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* чим ми займаємось */
.work-section__position {
  position: relative;
}
.work-section__position--content {
  color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-section__position--frame {
  background-color: rgba(47, 48, 58, 0.8);
  letter-spacing: 0.03em;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
}

.work-section__title--primary,
.section-team__title {
  font-size: 36px;
  line-height: 1.16;
}
.work-section {
  padding-top: 0;
}
.work-section__list {
  display: flex;
  margin-top: 50px;
}
.work-section__item:not(:first-child) {
  margin-left: auto;
}
/* наша команда */
.section-team__list {
  display: flex;
  margin-top: 50px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.section-team {
  background-color: #f5f4fa;
}
.socials:hover,
.socials:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team__item:not(:last-child) {
  margin-right: 30px;
}
.section-team__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team__name {
  color: var(--pimary-text-color);
  font-weight: 500;
}
.sectin-team__box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-box-item > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-top: 16px;
}
.team-box-list:not(:last-child) {
  margin-right: 10px;
}
.section-team__work {
  margin: 0;
  margin-top: 10px;

  color: var(--title-text-color);
}
/* ------------Постійні клієнти---------- */
.section-clients__logo {
  display: flex;
}
.section-clients__item:not(:last-child) {
  margin-right: 30px;
}
.section-clients__list {
  margin-bottom: 50px;
}
.section-clients__item {
  width: 170px;
  height: 92px;
}
.section-clients__interactive:hover,
.section-clients__interactive:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.section-clients__interactive {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 100%;
  height: 100%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* футер */
.address {
  color: var(--primary-bg-color);

  line-height: 1.74;
  letter-spacing: 0.03em;
}
.contacts-link-footer:hover,
.contacts-link-footer:focus {
  color: var(--accent-color);
}
.footer-nav {
  color: rgba(255, 255, 255, 0.6);
}
.link-color {
  color: #757575;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list {
  margin-top: 20px;
  font-style: normal;
}
.footer-item {
  color: var(--primary-bg-color);
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin: 0;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-addres {
  flex-grow: 1;
  margin-right: 70px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  margin: 0;
}
.social-join {
  color: var(--primary-bg-color);
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-item {
  display: flex;
}
.socials-item-list:not(:last-child) {
  margin-right: 10px;
}
.socials-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer-link:hover,
.socials-footer-link:focus {
  background-color: #2196f3;
}
.socials-footer {
  fill: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 20px;
  width: 44px;
  height: 44px;
}
.socials-item-list {
  display: flex;
}

.studio {
  color: var(--primary-bg-color);
}
.sighn {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--primary-bg-color);
}
.forma {
  margin-left: 93px;
}
.label-mail {
  color: var(--primary-bg-color);
}
.submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;
  margin-left: 12px;
  padding: 0;

  cursor: pointer;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
}
.send {
  margin-left: 10px;
}
.input-mail {
  width: 358px;
  height: 50px;
  padding: 0;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

/* --------портфоліо сторінка-------- */
.portfolio-primary {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
/* фільтри */
.filters-item:hover,
.filters-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border-radius: 4px;
}
.filters-item {
  border: transparent;
  border-radius: 4px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters {
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}
.filters :not(:last-child) {
  margin-right: 8px;
}
.btn-all {
  min-width: 73px;
  padding: 6px 22px;
  margin: 0;
}
.btn-website {
  padding: 6px 22px;
}
.btn-apps {
  min-width: 145px;
  padding: 6px 22px;
}
.btn-design {
  min-width: 103px;
  padding: 6px 22px;
}
.btn-marketing {
  width: 130px;
  padding: 6px 22px;
}
/* вибір контенту */
.first-section:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.flex-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.first-section {
  width: 370px;
  margin-right: 30px;
}
.first-section > a {
  text-decoration: none;
}
.first-section:nth-child(3n) {
  margin-right: 0;
}
.first-section-container {
  border: 1px solid #eeeeee;
}
.first-section-title {
  color: var(--pimary-text-color);

  padding: 20px 24px 4px 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.first-conten {
  color: var(--title-text-color);

  padding: 0 24px 20px 24px;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.9;
}

.item-hover:hover,
.item-hover:focus {
  display: block;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay-img {
  position: relative;
  overflow: hidden;
}
.item-hover:hover .overlay-content,
.item-hover:focus .overlay-content {
  transform: translateY(0);
}
.overlay {
  color: var(--primary-bg-color);

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 63px 23px;
}
.overlay-content {
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*----------- модальне вікно ----------*/
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms linear, visibility 250ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form,
label:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}
.position-modal input,
.span:nth-child(2) {
  width: 448px;
  height: 40px;

  margin: 0;
  padding: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.position-modal input {
  padding-left: 42px;
  cursor: pointer;
}
.position-modal input:hover,
.position-modal input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.position-modal:hover,
.position-modal:focus {
  fill: var(--accent-color);
}
textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
textarea {
  padding: 0;
  padding: 12px 16px;

  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.position-modal {
  position: relative;
}
.position-modal-icon {
  position: absolute;
  top: 14px;
  left: 15px;
}
.user-contacts {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.user-contact-list {
  margin-bottom: 4px;
}
.contacts-comment {
  margin: 0;
  margin-bottom: 20px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}
.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--pimary-text-color);
  border-radius: 2px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(./img.css/svg-img/icon-check1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}
.deal {
  color: var(--accent-color);
}
.button-send {
  display: flex;
  justify-content: center;
}
.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  cursor: pointer;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.close {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  right: 8px;
  top: 8px;

  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primary-bg-color);
}
.close:hover,
.close:focus {
  fill: var(--accent-color);
}
