.logo {
  color: var(--pimary-text-color);
  font-family: Raleway;
  font-weight: $secondary-font-weight;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}
.web {
  color: var(--accent-color);
}
.page-header__logo {
  padding: 25px 0px 25px 0px;
}
