.site-nav {
  display: flex;
}
.site-nav__item {
  display: flex;
  margin-left: 50px;
}
.site-nav {
  & :first-child {
    margin-left: 0;
  }
}
.site-nav,
.contacts {
  font-weight: $primary-font-weight;
  letter-spacing: $primary-letter-spacing;
  margin-left: auto;
}
.studio-primary,
.site-nav__link,
.portfolio-primary,
.contacts__item {
  text-decoration: none;
}
.studio-primary {
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  bottom: -1px;
  background-color: var(--accent-color);
  display: flex;
  height: 4px;
  width: 100%;
  border-radius: 4px;
}
.site-nav__link {
  color: var(--pimary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-nav {
  @media screen and(max-width:767px) {
    margin-top: auto;
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-nav__link--accent {
  @media screen and(max-width:767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-nav__list {
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-nav__link {
  @media screen and(max-width:767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-socials {
  @media screen and(max-width:767px) {
    display: flex;
    margin-top: 64px;
  }
}
.mobile-socials__link {
  @media screen and(max-width:767px) {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: var(--accent-color);

    text-decoration: none;

    margin: 0 10px;
  }
}
.mobile-socials__list {
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
