/* шапка сторінки */
.page-header .container-nav {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
