:root {
  --pimary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --cecondary-bg-color: #e5e5e5;
}
$primary-font-family: Roboto, sans-serif;
$primary-font-style: normal;
$primary-font-weight: 500;
$primary-font-size: 14px;
$primary-line-height: 1.14;
$primary-letter-spacing: 0.02em;

$secondary-font-weight: 700;
$secondary-font-size: 16px;
$secondary-line-height: 1.6;
$secondary-letter-spacing: 0.03em;

$third-font-size: 18px;
$third-line-height: 2;
$third-letter-spacing: 0.06em;
